{% layout 'layout.liquid' %}
{% block content %}

<h1><a href="/thenews">Go back</a></h1>


  {% for story in favorites %}

  <div class = "mystories" style="text-align: center;" style="">
   <div style="width: 10%">
   <div class="card" style="width: 18rem;">
         <img src={{story.image}} style="width: 200px" class="card-img-top" >
         <div class="card-body">

             <h5 class="card-title">{{story.title}}</h5>
             <p class="card-text">{{story.description}}</p>

             <form action="/thenews/{{story._id}}" method="POST">
              
         </form>
         </div>
   </div>
   <div>
{% endfor %}


{% endblock %}